<div class="header1" style="background-image: url(https://ww1.sinaimg.cn/large/006tKfTcgy1fd7l0zipjsj31bu0giwgx.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 bounceInLeft">
                <h1 class=" fadeInUp wow text-center">Designer</h1>
                <p class="text-center"></p>
            </div>
        </div>
    </div>
</div>
<div class="container ">
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-6 text-center">
            <p class="text-center"><strong>文志鹏-Zion  </strong></p>
            <br>
            <img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fd9n2ur0c8j30uy0v0q59.jpg" class="img-circle person" alt="Random Name">
        </div>
        <div class="col-sm-6">
            <br>
            <br>
            <br>
            <h2>旅美华人</h2>
            <h2>Ruby on Rails超新手</h2>
            <h2>公众号：zion-upgrade ID：my-haoqi</h2>
            <h2>在本项目中担任主程、项目经理、技术导师</h2>
            <h2>你可以咨询他关于功能实现、meetup技术交流的问题</h2>
            <h2>技术博客：<a href="http://zion.logdown.com/" >Code! Don't Panic!</a></h2>
            <br>
            <p>成长格言：七年人生，全面升级</p>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row ">
        <div class="col-sm-6">
            <br>
            <br>
            <br>
            <h2>职业品酒师</h2>
            <h2>Ruby on Rails超新手</h2>
            <h2>公众号：乌龙明月 ID：my-haoqi</h2>
            <h2>在本项目中担任网站架构、前端工程师和Marketing</h2>
            <h2>你可以咨询她关于html和css的应用，以及项目管理的问题</h2>
            <h2>技术博客：<a href="http://maggiewu-blog.logdown.com" >乌龙明月学代码</a></h2>
            <br>
            <p>成长格言：怕什么真理无穷，进一寸有一寸的欢喜</p>
        </div>
        <div class="col-sm-6 text-center">
            <p><strong>乌龙明月 </strong></p>
            <br>
            <img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fd9n0xc806j30sq0so77r.jpg" class="img-circle person" alt="Random Name">
        </div>
    </div>
    <div class="text-center ">
      <br><br><br>
        <%= link_to("去奇迹论坛看成长故事",sail_path, class:"btn btn-lg btn-success") %>
      <hr>
    </div>
</div>
