


<header id="header" class="header header-three header-sticky header-full-width  ">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <div class="site-branding">
                    <div class="wrap">
                        <h1 class="site-title"><a href="index.html" rel="home"><img src="images/logo-2.png" alt="Antarctica"></a></h1>
                        <!--<h1 class="site-title"><a href="index.html" rel="home">Antarctica</a></h1>-->
                        <p class="site-description"></p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-9">
                <div class="navigation-top  ">
                    <div class="search-form-wrap">
                        <div id="search-toggle" class="search-toggle"><i class="fa fa-search" aria-hidden="true"></i></div>
                        <form action="#" class="header-search-form">
                            <input type="text" name="s" id="s" value="" placeholder="Search">
                            <input type="submit" id="search-submit" value="Go">
                        </form>
                    </div>
                    <nav id="site-navigation" class="main-navigation">


                                <ul class="menu-primary  ">
                                    <li><a href="index.html">首页</a></li>
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="services.html">Services</a></li>
                                    <li><a href="portfolio.html">Portfolio</a></li>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>

                        </nav>
                    </div>
                </div>
            </div>
        </div>


    </header>
