<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Bootstrap Theme The Band</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container-1 text-center">
            <h3>THE BAND</h3>
            <p><em>We love music!</em></p>
            <p>We have created a fictional band website. Lorem ipsum..</p>
            <br>
            <div class="row">
                <div class="col-sm-4">
                    <p><strong>Name</strong></p>
                    <br>
                    <img src="bandmember.jpg" alt="Random Name">
                </div>
                <div class="col-sm-4">
                    <p><strong>Name</strong></p>
                    <br>
                    <img src="bandmember.jpg" alt="Random Name">
                </div>
                <div class="col-sm-4">
                    <p><strong>Name</strong></p>
                    <br>
                    <img src="bandmember.jpg" alt="Random Name">
                </div>
            </div>
        </div>
    </body>
</html>
