
<header id="header" class="header header-three header-sticky header-full-width clearfix">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <div class="site-branding">
                        <div class="wrap">
                            <h1 class="site-title"><a href="index.html" rel="home"><img src="images/logo-2.png" alt="Antarctica"></a></h1>
                            <!--<h1 class="site-title"><a href="index.html" rel="home">Antarctica</a></h1>-->
                            <p class="site-description"></p>
                        </div>
                    </div>
                 </div>
                <div class="col-xs-6 col-md-9">
                    <div class="navigation-top clearfix">
                        <div class="search-form-wrap">
                            <div id="search-toggle" class="search-toggle"><i class="fa fa-search" aria-hidden="true"></i></div>
                            <form action="#" class="header-search-form">
                               <input type="text" name="s" id="s" value="" placeholder="Search">
                               <input type="submit" id="search-submit" value="Go">
                            </form>
                        </div>
                        <nav id="site-navigation" class="main-navigation"><div class="slicknav_menu"><a href="#" aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed" style="outline: none;"><span class="slicknav_menutxt"></span><span class="slicknav_icon slicknav_no-text"><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span></span></a><ul class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;">
                                    <li><a href="index.html" role="menuitem" tabindex="-1">首页</a></li>
                                    <li><a href="about-us.html" role="menuitem" tabindex="-1">改变</a></li>
                                    <li><a href="services.html" role="menuitem" tabindex="-1">航程</a></li>
                                    <li><a href="portfolio.html" role="menuitem" tabindex="-1">Portfolio</a></li>
                                    <li><a href="blog.html" role="menuitem" tabindex="-1">Blog</a></li>
                                    <li><a href="contact.html" role="menuitem" tabindex="-1">Contact</a></li>
                                </ul></div>
                            <div class="menu-primary-container">
                                <ul class="menu-primary clearfix">
                                    <li><a href="index.html">首页</a></li>
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="services.html">Services</a></li>
                                    <li><a href="portfolio.html">Portfolio</a></li>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
