

        <style>
            /* Remove the navbar's default margin-bottom and rounded borders */


                                                    /* Add a gray background color and some padding to the footer */

        </style>
        <meta name="viewport" content="width=device-width, initial-scale=1" />


        <div class="header3"  >
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 bounceInLeft">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <p class="wow fadeInUp text-center"> We are ready!</p>
                        <br>
                          <p class="fadeInUp text-center">希望带给你探索的乐趣</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="jumbotron">
                <div class="text-center">
                    <h1>网站故事&课程介绍</h1>
<p>我们一起来重新定义中国的计算机教育<p/>
                </div>
            </div>
            <div class="container-fluid bg-3 ">

                <br>
                <h2 class="text-success">Q1 这个网站主题很有趣，为什么叫做海盗学院？</h2>
                <h4>It's a long story.在一个你6知道的地方，有个叫六号邮轮的海盗船，里面有一群海盗。
                  他们不停探索人生，吸收知识，大胆行动，力争做一个跟酷炫拉风的人。名字就这么来的，而且海盗多酷啊！</h4>
                  <hr>
                <br>
                <h2 class="text-success">Q2 网站是真实有效的么？</h2>
                <h4>这是新生大学全栈营，第一届全栈工程师编程大赛作品。目前还是DEMO，不太具备商业功能，
                  大赛结束后会继续完善翻修，持续经营下去。 但课程是真实有效的哦，
                  目前有效课程只有一个《超级行动训练营》。以后就不好说了，毕竟这是一个以探索未知为信仰的网站。
                  给你更多惊喜喽。</h4>
                  <hr>
                <br>
                <h2 class="text-success">Q3 我在这个网站上可以做什么？</h2>
                <h4>现有功能：</h4>
                <h4>1、24小时在线客服：休斯顿和北京，24小时无缝对接，随时在线陪聊。</h4>
                <h4>2、真实邮箱注册：注册后你会收到确认邮件，请点击确认注册。</h4>
                <h4>3、浏览课程：尽管课程只有大纲在上面，获取信息足够了。</h4>
                <h4>4、查看博客：去“奇迹博客”，看科技宅和成长达人的成长故事</h4>
                <hr>
                <br>
                <h2 class="text-success">Q4 我可以报名参加你们网站上的课程嘛？</h2>
                <h4>十分欢迎，你可以转移到公众号去咨询哈，有客服作答的。ID:my-haoqi</h4>
                <hr>
                <br>
                <h2 class="text-success">Q5 你们好好的怎么写起了网站啊？</h2>
                <h4>编程不仅是未来的趋势，而且是一种工作方式和思维模式。
                  不但可以让你从重复劳动中解放出来节省时间，还可以把你想做的事，通过代码做成一个产品。
                  此刻，你就在我的代码之中。</h4>
                  <hr>
                <br>
              <h2 class="text-success">Q6 写这个网站，你们用了多长时间？</h2>
                <h4>18天吧，一边学一边写。从接触代码到现在2个月整，在此之前没敲过一行代码。</h4>
                <hr>
                <br>
                <h2 class="text-success">Q7 那么快？假如我也想学这个酷炫的技能呢？</h2>
                <h4>只要肯下功夫，你也可以做到。写这个网站，已经让我们使出洪荒之力了。你现在就可以在我们窗口的右下角，点击客服图标，呼叫我。
                  我们会为你一一作答。 希望能和你成为同学，我们一起来定义中国的编程学习和计算机教育。
                  悄悄讲，全栈工程师名额很紧缺哦。</h4>
                  <h4 class="text-center"><a href="https://fullstack.xinshengdaxue.com/" >新生大学全栈营</a></h4>
                  <hr>
                <br>
                <h2 class="text-success">Q8 哇，好酷炫，我一定要给你们的作品投票，怎么做？</h2>
                <h4>点击下方蓝字直达投票通道，实名制投票，我会记住你并向你表示感谢。<span class="text-danger">有了你的投票让我离大奖又近了一步，所以一定要去投票啊。</span></h4>
                <h4 class="text-center"><a href="https://fullstack.xinshengdaxue.com/works/194" >文志鹏-zion和乌龙明月的作品</a></h4>
                <div class="row">
                </div>
            </div>
            <br>
            <br>
            <br>

        </div>
