<div class="hero">
  <h2 class= "seal">海盗学院</h2>
  <h2>探索未<span style="font-size: 72px;">知</span>，创造奇迹</h2>
  <p>用知识和行动颠覆，用优先声明创造无限价值</p>
</div>
<div class="section1" style="height: 300px; background-color: rgba(50,50,50,0.45)">
</div>
<div class="section2" style="height: 300px; background-color: rgba(50,50,50,0.95)">
</div>
<div class="section3" style="height: 300px; background-color: rgba(50,50,50,0.55)">
</div>
<div class="section4" style="height: 300px; background-color: rgba(50,50,50,0.65)">
</div>
