<html >
    <body>
        <div class="header1" style="background-image: url(https://ww1.sinaimg.cn/large/006tKfTcgy1fd7jr724jwj31kq0huwiw.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 bounceInLeft">
                        <h1 class=" fadeInUp wow text-center"> 让有价值的思想公开发声</h1>
                        <p class="text-center">本博客欢迎优秀成长故事投稿</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="site-name text-center">海盗学院<span>Pirate College</span></h2>
                    </div>
                </div>
            </div>
        </div>
        <main >
            <div class="container">
                <div class="row" id="post-list">
                    <div class="col-xs-12 col-md-6">
                        <article >
                            <h2 class="post-title">
                                <a href="https://fullstack.xinshengdaxue.com/" >新生大学全栈营</a>
                            </h2>
                            <div >
                                <a class="thumbnail loaded" href="https://fullstack.xinshengdaxue.com/" >
                                    <img src="https://ww3.sinaimg.cn/large/006tKfTcgy1fd6fwx48tvj31bm0vk77z.jpg" >
                                </a>
                                <div class="post-link">
                                    <b>做为一个用2个月时间，从小白学成了Ruby on Rails这门快速开发的程式语言的品酒师，她就是本网站开发者之一：乌龙明月，
                                      看看她对网站设计有哪些独到的见解吧。</b>
                                    <a href="http://maggiewu-blog.logdown.com/posts/1423761" >Read More</a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <article >
                            <h2 class="post-title">
                                <a href="https://fullstack.xinshengdaxue.com/" >新生大学全栈营</a>
                            </h2>
                            <div >
                                <a class="thumbnail loaded" href="https://fullstack.xinshengdaxue.com/" >
                                    <img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fd9pyp7x7aj31bq0vmn4r.jpg" >
                                </a>
                                <div class="post-link">
                                    <b>同样是编程零基础的时尚大叔，每天的工作比总理都满，但进步迅猛。他就是本届学员里作品最炫的李剑，
                                    现在是最炙手可热的“前端线上答疑”，看看他是如何用3天魔改出一个酷炫网站的。</b>
                                    <a href="http://andy2000xyz-blog.logdown.com/posts/1468664" >Read More</a>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <div class="text-center">
                    <%= link_to("立刻去《行动课》抢名额",products_path, class:"btn btn-lg btn-success") %>
                </div>
            </div>
        </main>
        <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
        <script src="//cdn.bootcss.com/handlebars.js/3.0.3/handlebars.min.js"></script>
        <script type="text/javascript" src="/assets/js/index.js?v=a77632e6b4"></script>
        <script src=" http://hm.baidu.com/h.js?15c141dd41d16b47f32d4c5476e1f6f4" type="text/javascript"></script>
    </body></html>
