<html lang="zh-CN">

    <body class="home-template">
        <div class="header" style="background-image: url(http://static.bootcss.com/expo/img/d/dd/2de797545de56274f03a5920eb3a1.jpg)">
            <div class="logoimg">
                <a href="https://piratecollege.herokuapp.com/" title="Pirate College"><img src="http://image.youzhan.org/e/35/22ccaf4c24ef690f7767e6a3ba5f0.png" alt="Pirate College" width="78"></a>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="site-name text-center">海盗学院<span>Pirate College</span></h2>
                    </div>
                </div>
            </div>
        </div>
        <main class="main" role="main">
            <div class="container">
                <div class="row" id="post-list">
                    <div class="col-xs-12 col-md-6">
                        <article class="post tag-ad">
                            <h2 class="post-title">
                                <a href="https://fullstack.xinshengdaxue.com/" onclick="_hmt.push(['_trackEvent', 'titlelink', 'click', 'Jekyll中文网'])" target="_blank">新生大学全栈营</a>
                            </h2>
                            <div class="post-featured-image">
                                <a class="thumbnail loaded" href="https://fullstack.xinshengdaxue.com/" onclick="_hmt.push(['_trackEvent', 'imagelink', 'click', 'Jekyll中文网'])" target="_blank">
                                    <img src="https://ww3.sinaimg.cn/large/006tKfTcgy1fd6fwx48tvj31bm0vk77z.jpg" width="700" height="438" alt="Jekyll中文网" onload="imgLoaded(this)">
                                </a>
                                <div class="post-link">
                                    <p>做为一个用2个月时间，从小白学成了Ruby on Rails这门快速开发的程式语言的行动派，她就是本网站开发者之一：乌龙明月，
                                      看看她对网站设计有哪些独到的见解吧。</p>
                                    <a href="http://maggiewu-blog.logdown.com/posts/1423761" onclick="_hmt.push(['_trackEvent', 'titlelink', 'click', 'BootCDN'])" target="_blank">Read More</a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <article class="post tag-ad">
                            <h2 class="post-title">
                                <a href="https://fullstack.xinshengdaxue.com/" onclick="_hmt.push(['_trackEvent', 'titlelink', 'click', 'Jekyll中文网'])" target="_blank">新生大学全栈营</a>
                            </h2>
                            <div class="post-featured-image">
                                <a class="thumbnail loaded" href="https://fullstack.xinshengdaxue.com/" onclick="_hmt.push(['_trackEvent', 'imagelink', 'click', 'Jekyll中文网'])" target="_blank">
                                    <img src="https://ww3.sinaimg.cn/large/006tKfTcgy1fd6fwx48tvj31bm0vk77z.jpg" width="700" height="438" alt="Jekyll中文网" onload="imgLoaded(this)">
                                </a>
                                <div class="post-link">
                                    <p>做为一个用2个月时间，从小白学成了Ruby on Rails这门快速开发的程式语言的行动派，她就是本网站开发者之一：乌龙明月，
                                      看看她对网站设计有哪些独到的见解吧。</p>
                                    <a href="http://maggiewu-blog.logdown.com/posts/1423761" onclick="_hmt.push(['_trackEvent', 'titlelink', 'click', 'BootCDN'])" target="_blank">Read More</a>
                                </div>
                            </div>
                        </article>
                    </div>

                </div>
            </div>
        </main>
        <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
        <script src="//cdn.bootcss.com/handlebars.js/3.0.3/handlebars.min.js"></script>
        <script type="text/javascript" src="/assets/js/index.js?v=a77632e6b4"></script>
        <script type="text/javascript">
            var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                                                document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F15c141dd41d16b47f32d4c5476e1f6f4' type='text/javascript'%3E%3C/script%3E"));
        </script><script src=" http://hm.baidu.com/h.js?15c141dd41d16b47f32d4c5476e1f6f4" type="text/javascript"></script>
        <!-- 全局统计代码 -->
        <script type="text/javascript">
            var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                                                document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F079fac161efc4b2a6f31e80064f14e82' type='text/javascript'%3E%3C/script%3E"));
        </script><script src=" http://hm.baidu.com/h.js?079fac161efc4b2a6f31e80064f14e82" type="text/javascript"></script>
    </body></html>
