<html >

    <body>
        <div class="header" style="background-image: url(http://static.bootcss.com/expo/img/d/dd/2de797545de56274f03a5920eb3a1.jpg)">

            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="site-name text-center">海盗学院<span>Pirate College</span></h2>
                    </div>
                </div>
            </div>
        </div>
        <main >
            <div class="container">
                <div class="row" id="post-list">
                    <div class="col-xs-12 col-md-6">
                        <article >
                            <h2 class="post-title">
                                <a href="https://fullstack.xinshengdaxue.com/" >新生大学全栈营</a>
                            </h2>
                            <div >
                                <a class="thumbnail loaded" href="https://fullstack.xinshengdaxue.com/" >
                                    <img src="https://ww3.sinaimg.cn/large/006tKfTcgy1fd6fwx48tvj31bm0vk77z.jpg" >
                                </a>
                                <div class="post-link">
                                    <p>做为一个用2个月时间，从小白学成了Ruby on Rails这门快速开发的程式语言的行动派，她就是本网站开发者之一：乌龙明月，
                                      看看她对网站设计有哪些独到的见解吧。</p>
                                    <a href="http://maggiewu-blog.logdown.com/posts/1423761" >Read More</a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <article >
                            <h2 class="post-title">
                                <a href="https://fullstack.xinshengdaxue.com/" >新生大学全栈营</a>
                            </h2>
                            <div >
                                <a class="thumbnail loaded" href="https://fullstack.xinshengdaxue.com/" >
                                    <img src="https://ww3.sinaimg.cn/large/006tKfTcgy1fd6fwx48tvj31bm0vk77z.jpg" >
                                </a>
                                <div class="post-link">
                                    <p>做为一个用2个月时间，从小白学成了Ruby on Rails这门快速开发的程式语言的行动派，她就是本网站开发者之一：乌龙明月，
                                      看看她对网站设计有哪些独到的见解吧。</p>
                                    <a href="http://maggiewu-blog.logdown.com/posts/1423761" >Read More</a>
                                </div>
                            </div>
                        </article>
                    </div>


                </div>
            </div>
        </main>
        <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
        <script src="//cdn.bootcss.com/handlebars.js/3.0.3/handlebars.min.js"></script>
        <script type="text/javascript" src="/assets/js/index.js?v=a77632e6b4"></script>
        <script src=" http://hm.baidu.com/h.js?15c141dd41d16b47f32d4c5476e1f6f4" type="text/javascript"></script>


    </body></html>
