<html lang="zh-CN"><head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap优站精选</title>
        <meta name="description" content="收集并展示漂亮、有创意的 Bootstrap 网站！">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/assets/css/site.min.css?v=a77632e6b4">
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="//cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="//cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        <script>
            function imgLoaded(img) {
                                                        var imgWrapper = img.parentNode;
                                                        imgWrapper.className += imgWrapper.className? ' loaded' : 'loaded';
                                                    }
        </script>
        <link rel="canonical" href="http://expo.bootcss.com/">
        <link rel="next" href="http://expo.bootcss.com/page/2/">
        <meta name="generator" content="Ghost 0.6">
        <link rel="alternate" type="application/rss+xml" title="Bootstrap优站精选" href="http://expo.bootcss.com/rss/">
        <script id="ad-template" type="text/x-handlebars-template">
            {{#each ads}}
                                                <div class="col-xs-12 col-md-6">
                                                    <article class="post tag-ad">
                                                    	<h2 class="post-title">
                                                    		<a href="{{url}}" onclick="_hmt.push(['_trackEvent', 'titlelink', 'click', '{{{title}}}'])" target="_blank">{{{title}}}</a>
                                                    	</h2>
                                                        <div class="post-featured-image">
                                                            <a class="thumbnail" href="{{url}}" onclick="_hmt.push(['_trackEvent', 'imagelink', 'click', '{{{title}}}'])" target="_blank">
                                                              <img src="{{img}}" width="700" height="438" alt="{{{title}}}" onload="imgLoaded(this)">
                                                            </a>
                                                        </div>
                                                    </article>
                                                </div>
                                                {{/each}}
        </script>
        <script>
            var ads=[
                                                  {title: '全栈营',
                                                url:'https://fullstack.xinshengdaxue.com/',
                                                img:'https://ww2.sinaimg.cn/large/006tKfTcly1fd5jc26scxj31kw0szaf0.jpg'},
                                                 {
                                                        title:'BootCDN',
                                                        url:'http://www.bootcdn.cn/',
                                                        img:'http://image.youzhan.org/6/1a/c7c0f84982513f645380d3eddc1c3.png!thumb',
                                                    },
                                                   {
                                                        title:'Ghost中文网',
                                                        url:'http://www.ghostchina.com/',
                                                        img:'http://image.youzhan.org/f/11/5f6a450fc7987ec7c64dc9fb8c9c3.png!thumb'
                                                    },
                                                  {
                                                        title:'Laravel中文网',
                                                        url:'http://www.golaravel.com/',
                                                        img:'http://image.youzhan.org/7/b4/b0c83b769aadc072d883dd6bc0bbb.png!thumb'
                                                    }
                                                ];
        </script>
        <!-- Favicons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png?v=a77632e6b4">
        <link rel="shortcut icon" href="/assets/ico/favicon.png?v=a77632e6b4">
        <script>
            var _hmt = _hmt || [];
        </script>
    </head>
    <body class="home-template">
        <div class="header" style="background-image: url(http://static.bootcss.com/expo/img/d/dd/2de797545de56274f03a5920eb3a1.jpg)">
            <div class="logoimg">
                <a href="https://piratecollege.herokuapp.com/" title="Pirate College"><img src="http://image.youzhan.org/e/35/22ccaf4c24ef690f7767e6a3ba5f0.png" alt="Pirate College" width="78"></a>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="site-name text-center">海盗学院<span>Pirate College</span></h2>
                    </div>
                </div>
            </div>
        </div>
        <main class="main" role="main">
            <div class="container">
                <div class="row" id="post-list">
                    <div class="col-xs-12 col-md-6">
                        <article class="post tag-ad">
                            <h2 class="post-title">
                                <a href="https://fullstack.xinshengdaxue.com/" onclick="_hmt.push(['_trackEvent', 'titlelink', 'click', 'Jekyll中文网'])" target="_blank">新生大学全栈营</a>
                            </h2>
                            <div class="post-featured-image">
                                <a class="thumbnail loaded" href="https://fullstack.xinshengdaxue.com/" onclick="_hmt.push(['_trackEvent', 'imagelink', 'click', 'Jekyll中文网'])" target="_blank">
                                    <img src="https://ww3.sinaimg.cn/large/006tKfTcgy1fd6fwx48tvj31bm0vk77z.jpg" width="700" height="438" alt="Jekyll中文网" onload="imgLoaded(this)">
                                </a>
                                <div class="post-link">
                                    <p>做为一个用2个月时间，从小白学成了Ruby on Rails这门快速开发的程式语言的行动派，她就是本网站开发者之一：乌龙明月，
                                      看看她对网站设计有哪些独到的见解吧。</p>
                                    <a href="http://maggiewu-blog.logdown.com/posts/1423761" onclick="_hmt.push(['_trackEvent', 'titlelink', 'click', 'BootCDN'])" target="_blank">Read More</a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <article class="post tag-ad">
                            <h2 class="post-title">
                                <a href="https://fullstack.xinshengdaxue.com/" onclick="_hmt.push(['_trackEvent', 'titlelink', 'click', 'Jekyll中文网'])" target="_blank">新生大学全栈营</a>
                            </h2>
                            <div class="post-featured-image">
                                <a class="thumbnail loaded" href="https://fullstack.xinshengdaxue.com/" onclick="_hmt.push(['_trackEvent', 'imagelink', 'click', 'Jekyll中文网'])" target="_blank">
                                    <img src="https://ww3.sinaimg.cn/large/006tKfTcgy1fd6fwx48tvj31bm0vk77z.jpg" width="700" height="438" alt="Jekyll中文网" onload="imgLoaded(this)">
                                </a>
                                <div class="post-link">
                                    <p>做为一个用2个月时间，从小白学成了Ruby on Rails这门快速开发的程式语言的行动派，她就是本网站开发者之一：乌龙明月，
                                      看看她对网站设计有哪些独到的见解吧。</p>
                                    <a href="http://maggiewu-blog.logdown.com/posts/1423761" onclick="_hmt.push(['_trackEvent', 'titlelink', 'click', 'BootCDN'])" target="_blank">Read More</a>
                                </div>
                            </div>
                        </article>
                    </div>

                </div>
            </div>
        </main>
        <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
        <script src="//cdn.bootcss.com/handlebars.js/3.0.3/handlebars.min.js"></script>
        <script type="text/javascript" src="/assets/js/index.js?v=a77632e6b4"></script>
        <script type="text/javascript">
            var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                                                document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F15c141dd41d16b47f32d4c5476e1f6f4' type='text/javascript'%3E%3C/script%3E"));
        </script><script src=" http://hm.baidu.com/h.js?15c141dd41d16b47f32d4c5476e1f6f4" type="text/javascript"></script>
        <!-- 全局统计代码 -->
        <script type="text/javascript">
            var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                                                document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F079fac161efc4b2a6f31e80064f14e82' type='text/javascript'%3E%3C/script%3E"));
        </script><script src=" http://hm.baidu.com/h.js?079fac161efc4b2a6f31e80064f14e82" type="text/javascript"></script>
    </body></html>
