* {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

body {
  padding-top: 50px;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

li {
  list-style: none;
  display: inline-block;
}

a {
  text-decoration: none;
  transition: all 500ms ease-in-out;
}

a:hover,
a:active {
  text-decoration: none;
}

h1,
h2,
h4 {
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

p {
  font-size: 15px;
  line-height: 21px;
}

.btn {
  transition: all 300ms ease-in-out;
  font-weight: 500 !important;
  text-transform: uppercase;
}

.btn:hover {
  background: #ededed !important;
  color: #3c3c3c !important;
  border: 1px solid #fff !important;
}
.content {
  min-height: calc(100vh - 50px);
}
.footer {
  height: 50px;
  padding: 10px;
  .foot-link {
      margin-left: 10px;
      display: inline-block;
  }
}
.wow { visibility: hidden; }
// NAVIGATION

.navbar {
  background-color: #222222 !important;
  text-transform: uppercase;
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  font-weight: 700;

  a {
    color: #fff !important;
    opacity: 0.7;
  }

  a:hover {
    opacity: 1;
    background-color: #111111 !important;
  }
  .dropdown-menu {
    background-color: #222222 !important;
  }
}

/*HEADER*/

.header {
  height: 860px;
  width: 100%;
  padding: 30px 0 30px;
  // margin-top: 50px;
  background-image: linear-gradient(rgba(21, 8, 7, 0.75), rgba(0, 0, 0, 0.85)), url(https://ww1.sinaimg.cn/large/006tNbRwgy1fcs7h9lep3j31hc0u07b1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;

  img {
    height: 450px;
    width: 450px;
    margin: 120px 40px;
  }

  h1 {
    font-size: 40px;
    .huge {
      font-size: 72px;
    }
  }

  h1 {
    margin-top: 180px;
  }
  p {
    margin-top: 20px;
  }
  button {
    margin-top: 180px;
    font-size: 30px;
  }
  .btn {
    //border-radius: 0;
    margin: 140px 20px;
  }
}

@media (max-width: 768px) {

  body {
      background-color: red;
  }
  .header {
    padding: 30px;
    height: 1050px;

    img {
      width: 90%;
      margin: 20px 0 0 20px;
    }

    .btn {
      font-size: 14px;
      margin-left: 20px;
      margin: 40px;
    }

    h1 {
      font-size: 20px;
    }

    p {
      font-size: 10px;
    }
  }
}

/*SERVICES*/

.services {
  padding: 80px 0;
  text-align: center;
  background-color: #fff;

 h2, h4 {
    color: #2B1F31;
    margin: 20px 0;
  }

  p {
    color: #2B1F31;
    font-size: 14px;
    padding-bottom: 40px;
  }

  i {
      height: 80px;
      width: 80px;
      font-size: 30px;
      padding: 25px;
      border-radius: 50%;
      background-color: #D9534F;
      color: #fff;
  }



  @media(max-width:768px){
      padding:30px;
  }
}
/* POP COURSE*/
.same { }

.pricing {
    padding: 50px 0 80px;
    text-align: center;
    background-color: #2B1F31;

    img {
        height: 150px;
        // width: 150px;
        margin-top: 20px;
    }
    h2,
    p {
        color:#fff;
    }
    p {padding-bottom: 40px;}



    .packages {
        padding: 30px;
        //border: 1px solid #ccc;
        background-color:  #fff;
        border-radius: 5px;
        margin-top:30px;
        margin: 0 20px;
    }
    li {
        display: block;
        padding: 5px;
    }
    h4,
    h1,
    b {
        color: #4c4c4c;
    }
    p,
    li {
        color:737373;
    }
    button {
        margin-top: 10px;
    }
    @media(max-width:768px) {
        padding: 30px;
        .packages {
            width: 80%;
            margin: 0 auto;
            margin-top: 30px;
        }
    }
}


/*TEAM*/

.team {
    padding: 50px 0 80px;
    text-align: center;

    b,h2,h4 {
        margin: 20 0 20px;
        color: #2B1F31;
    }
    p {
        color: #737373;
    }
    img {
        height: 150px;
        // width: 150px;
        margin-top: 80px;
    }
    i {
        height:30px;
        width: 30px;
        padding: 5px;
        font-size: 17px;
        border-radius: 50%;
        background-color: #5BC0DE;
        color: #fff;
    }
    a:hover {
        i {
            background-color: #709963;
        }
    }
}

/*BLOG*/

.client {
    padding: 50px 0 80px;
    background-color: #3399ff;
    text-align: center;
    color: #fff;

    h2 {
        color: #5e5e5e;
    }
    p {
        padding-bottom: 40px;
    }
    img {
        width: 200px;
        opacity: 0.6;
        cursor: pointer;
        margin: 40px 0;
        transition: all 500ms easi-in-out;
    }
    li:hover {
        img {
            opacity: 1;
        }
    }
}

/*CONTACT*/

.contact {
    padding: 50px 0 80px;
    text-align: center;
    background-color: #2B1F31;

    p {
        padding-bottom: 80px;
        color: #DBD8E3;
    }
    h2 {
        color: #DBD8E3;
        margin: 20px 0 20px;
    }
    .input-group {
        margin-bottom: 25px;
    }
        .input-group{
            margin-botton:25px;
        }
        .form-control{
            border-radius: 0 !important;
        }
        span{
            border-radius: 0 !important;
        }
        .btn {
            border-radius: 0;
            width: 100%;
            font-size: 15px;
            background-color: #D9534F;
            color: #fff !important;
        }
        .btn:hover {
            background-color: #a85959 !important;
            color: #fff !important;
        }
}

/*DEVISE*/

.login {
    height: 800px;
    width: 100%;
    padding: 30px 0 30px;
    background-image: linear-gradient(rgba(21, 8, 7, 0.75), rgba(0, 0, 0, 0.85)), url(https://ww1.sinaimg.cn/large/006tNbRwgy1fcs7h9lep3j31hc0u07b1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
